/* Home page styles */

body{
    margin : 0px;
    background-color: #D7C49EFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h1 {
    text-align: center;
    margin-top: 0px;
    border: 0px;
    background-color: #343148FF;
    color: #D7C49EFF;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    color: #343148FF;
}

li {
    text-align: center;
    list-style-type: none;
    border : 1px #343148FF;
}

a{
    text-decoration: none;
    color: inherit;
}